/* mouse 스크롤다운 아이콘 애니메이션 */
@keyframes up_down {
    0%, 100% {transform: translateY(0); opacity: 0.5;}
    30% {transform: translateY(6px); opacity: 1;}
    80% {transform: translateY(6px); opacity: 1;}
}

/* intro - 알약 hover 시 회전 애니메이션 */
@keyframes shakeRotate {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-5deg); }
    50%  { transform: rotate(5deg); }
    75%  { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

@keyframes bounceRotate {
    0%   { transform: rotate(-60deg); }
    50%  { transform: rotate(60deg); }
    100% { transform: rotate(-60deg); }
}


@keyframes expandWidth {
    from {width:0; padding:20px 0;}
    to {width:calc((100% - 80px) / 3); padding:20px 12px;}
}

/* intro - 3문단 텍스트 나타나는 애니메이션 */
@keyframes fadeInUp {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}

/* intro - 하늘색 배경 애니메이션 */
@keyframes bgExpand {
    0% {
        bottom:-400px;
        left:-400px;
        width: 800px;
        height: 800px;
        transform:scale(1) rotate(0deg);
        filter: blur(50px);
        opacity: 0;
    }
    50% {
        opacity:1;
    }
    100% {
        bottom:0;
        left:0;
        width:100vw;
        height:100vw;
        transform:scale(2) rotate(0deg);
        filter: blur(0px);
        opacity:1;
    }
}


@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%); /* 전체의 절반 이동 → 복제된 부분으로 자연스럽게 연결 */
    }
}
@keyframes scrollDown {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0); /* 전체의 절반 이동 → 복제된 부분으로 자연스럽게 연결 */
    }
}


/* 진단 결과 - 화살표 반복 움직임 */
@keyframes arrowBounce {
    0%   { transform: translateX(0); }
    40%  { transform: translateX(12px); }
    60%  { transform: translateX(12px); }
    100% { transform: translateX(0); }
}