/* ------------------------ header ------------------------ */
header {
    margin:0 auto;
    background-color:#fff; width:100vw;
    position:fixed; left:0; top:0; z-index:1;
    border-bottom:1px solid #ABBED1;
}
header .top_wrap {
    display:flex; justify-content:center; align-items:center;
    text-align:center; padding:12px 80px;
}
header .top_wrap h1 {width:20%; text-align:left;}
header .top_wrap nav {
    width:60%; text-align:center; height:56px;
    justify-content: center; align-items:center; display:flex;
}
header .top_wrap .diag {width:20%; text-align:right;}

/* header-nav */
header .top_wrap > nav .gnb {display:flex;}
header .top_wrap > nav .gnb a {
    font-family: "Urbanist", sans-serif;
    font-weight:700; font-size:1.75rem;
    color:#717171;
}
header .top_wrap > nav .gnb a:hover {color:#5CBFFF; transition:color 0.5s;}
header .top_wrap > nav .gnb li:nth-child(2) a {margin:0 150px}
header .top_wrap .diag a {
    font-family: "Urbanist", sans-serif;
    font-weight:700; font-size:1.25rem;
    color:#ABBED1; padding:16px 30px; border-radius:30px;
    background-color:#DEF1FF;
}
header .top_wrap .diag a:hover {
    background-color:#5CBFFF;
    color:#fff;
    transition:color 0.5s, background-color 0.5s;
}