/* ------------------------ header ------------------------ */
header {
    position:fixed; left:0; top:0; z-index:10000;
    overflow-x:clip;  
    margin:0 auto;
    background-color:#fff;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    border-bottom:1px solid #ABBED1;
}
header .top_wrap {
    width:100%; box-sizing: border-box;
    display:flex; justify-content:center; align-items:center;
    text-align:center; padding:12px 80px;
}
header .top_wrap h1 {width:20%; text-align:left;}
header .top_wrap nav {
    width:80%; text-align:center; height:56px;
    justify-content: center; align-items:center; display:flex;
    border-left:1px solid #ABBED1;
    border-right:1px solid #ABBED1;
}
header .top_wrap .diag {width:20%; text-align:right;}

/* header-nav */
header .top_wrap > nav .gnb {display:flex;}
header .top_wrap > nav .gnb a {
    font-family: "PP Monument Narrow";
    font-weight:200; font-size:1.75rem;
    color:#717171;
}
header .top_wrap > nav .gnb a:hover {color:#5CBFFF; transition:color 0.5s;}
header .top_wrap > nav .gnb li:nth-child(2) a {margin:0 150px}
header .top_wrap .diag a {
    font-family: "PP Monument Narrow";
    font-weight:500; font-size:1.25rem;
    color:#ABBED1; padding:16px 30px; border-radius:30px;
    background-color:#DEF1FF;
}
header .top_wrap .diag a:hover {
    background-color:#5CBFFF;
    color:#fff;
    transition:color 0.5s, background-color 0.5s;
}

html, body {
    overflow-x: hidden;
}

/* footer 디자인 */
footer {
    padding:56px 80px; height:max-content;
    display:flex; align-items:flex-start;
    justify-content:space-between;
}
footer .left_logo {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
footer .left_logo > a {height:45px;}
footer .left_logo > a > img {height:100%;}
footer .left_logo > p {
    font-size:1.125rem; text-align:left;
    font-weight:400; line-height:1.4;
    margin-top:22px;
}
footer .right_info .info_wrap {
    display:flex;
}
footer .right_info .info_wrap .info {margin-left:140px;}
footer .right_info .info_wrap .info:first-child {margin-left:0;}
footer .right_info .info_wrap .info h3 {
    font-size:1.125rem; font-weight:600;
    line-height:1.6; letter-spacing:-0.003em;
    color:#4D4D4D; margin-bottom:15px;
}
footer .right_info .info_wrap .info p {
    font-size:1.125rem; font-weight:400;
    line-height:1.6; letter-spacing:-0.003em;
    color:#4D4D4D;
}
footer .right_info .info_wrap .info .link_wrap {
    display:flex; align-items:center;
}
footer .right_info .info_wrap .info .link_wrap > a:first-child {margin-right:5px;}
footer .right_info .info_wrap .info .link_wrap > a {
    opacity:1;
    transition:opacity 0.3s ease;
}
footer .right_info .info_wrap .info .link_wrap > a:hover {
    opacity:0.7;
}