header {
    background-color:transparent;
    border-bottom:1px solid #F5F7FA;
}
header .top_wrap > nav .gnb a {color:#fff;}
header .top_wrap h1 a img {
    filter:brightness(100)
}
main {margin:0 auto;}
main .diagnosis {
    height:100vh;
    padding:0 140px;
    background-image:url(/images/diag_bg.jpg);
    background-size:cover; background-position:center;
    text-align:center;
}
main .diagnosis .title_wrap {
    height:100%; display:flex; flex-direction:column;
    justify-content:center; align-items:center;
}
main .diagnosis .title_wrap h1 {
    font-family: "PP Monument Narrow";
    font-size:5rem; letter-spacing:-0.04em;
    color:#fff;
}
main .diagnosis .title_wrap p {
    font-size:1.25rem; font-weight:500;
    letter-spacing:-0.03em; color:#fff;
    margin:50px 0 135px; line-height:1.6;
}
main .diagnosis .title_wrap .next_btn {
    width:max-content;
    font-size:1.25rem; font-weight:500;
    letter-spacing:-0.03em; color:#5cbeff;
    padding:20px 150px; background-color:#fff;
    border-radius:40px;
}