main {margin:0 auto;}
.temporary {
    font-size:3rem; font-weight:400; text-align:left; padding:100px 0 0;
}
/* main section 공통 디자인 */
main .section {
    height:100vh;
    border-bottom:0.5px solid red;
    padding:0 120px;
}
main .section .txt h1 {
    margin:100px 0 24px;
    font-family: "PP Monument Narrow";
    font-weight:200; font-size:5rem;
    letter-spacing:-0.01em; line-height:1.2;
    color:#2B2B2B;
}
main .section .txt p {
    font-weight:500; font-size:1.13rem;
    text-align:center; letter-spacing:-0.03em; line-height:1.6;
    margin-bottom:90px;
}

/* -------- 1. main-intro -------- */
main .intro {
    position: relative;
    overflow: hidden;
}
main .intro .bg {
    position: absolute;
    bottom:-400px;
    left:-400px;
    width: 800px;
    height: 800px;
    filter:blur(50px);
    border-radius:50%;
    background: radial-gradient(
        circle,rgba(92, 191, 255, 1) 0%,rgba(92, 191, 255, 1) 50%, rgba(92, 191, 255, 0) 80%
    );
    transform:scale(1) rotate(0deg);
    opacity:0;
    animation: bgExpand 1.8s ease-in-out forwards;
}
/* slogan */
main .intro .slogan {
    position:relative;
    z-index:1;
    width:fit-content;
    margin:0 auto;
    top:15%;
}
main .intro .slogan .slogan_txt {
    font-family: "PP Monument Narrow";
    font-size: 10rem;
    font-weight:800;
    text-align:center;
    color:#fff;
    line-height: 1.2;
    white-space: pre;
}
main .intro .slogan img {
    position: absolute;
    top:0;
    width: 180px;
    height: auto;
    transition: transform 0.3s ease;
    cursor:pointer;
}
main .intro .slogan img:nth-of-type(1) {
    left:65%;
}
main .intro .slogan img:nth-of-type(2) {
    top:50%;
    left:15%;
}

/* txt */
main .intro .txt_wrap {
    z-index:1;
    list-style:none;
    margin:200px auto 0;
    max-width:100%;
    display:flex;
    justify-content:space-between;
    color:#fff;
    font-size: 1.1rem;
    line-height: 1.6;
}
main .intro .txt_wrap .txt {
    z-index:1;
    opacity: 1; max-width: calc((100% - 80px) / 3);
    width:0;
    padding:20px 0;
    border-top: 1px solid white;
    animation: expandWidth 1s ease 1.5s forwards;
}
main .intro .txt_wrap .txt span {
    display:inline-block;
    opacity:0;
    transform:translateY(-20px);
    text-align:left; font-weight:500; line-height:1.6;
    font-size:1.125rem;
}
.txt_1 > span {
    animation:fadeInUp 1s ease 2.5s forwards;
}
.txt_2 > span {
    animation:fadeInUp 1s ease 3s forwards;
}
.txt_3 > span {
    animation:fadeInUp 1s ease 3.5s forwards;
}

/* mouse 스크롤다운 아이콘 디자인 */
main .intro .mouse_wrap {
    height:max-content; position:absolute;
    left:0; bottom:80px; width:100vw;
    display:flex; flex-flow:column nowrap; justify-content:center;
    align-items:center; opacity:0.9;
}
main .intro .mouse_wrap .mouse {
    width:30px; height:42px; border:2px solid #fff; border-radius:15px; display:flex; justify-content:center;
}
main .intro .mouse_wrap .mouse .wheel {
    width:2px; height:8px; background-color:#fff; border-radius:20px; margin-top:10px;
    animation:up_down 2.5s ease-out both infinite;
}
main .intro .mouse_wrap div:last-child {
    display:flex; flex-flow:column nowrap;
    justify-content:center; align-items:center; margin-top:10px;
    animation:up_down 2.5s ease-out both infinite;
}
main .intro .mouse_wrap div > span {
    background-image:url(../images/mouse_arrow.svg);
    width:16px; height:8px; display:inline-block; background-repeat:no-repeat;
    margin-bottom:3px;
}
/* e:mouse 스크롤다운 */



/* -------- 2. main-what is -------- */
main .whatis {position:relative;}
main .whatis .txt {text-align:center;}
.swiper, .swiper .swiper-wrapper {height:400px;}
.swiper-slide {
    transition: all 0.5s ease;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.swiper-slide img {
    transition: all 0.5s ease;
}

.swiper-slide img {
    width: 175px;
    height: 175px;
    opacity: 0.3;
    transform: translateY(155px);
    transition: all 0.5s ease;
}

.swiper-slide-active img {
    width: 350px;
    height: 350px;
    opacity: 1;
    transform: translateY(0);
}

main .whatis .pill_pagination {position:absolute; left:0; right:0; bottom:300px;}
main .whatis .pill_pagination .swiper-button-prev {left:140px;}
main .whatis .pill_pagination .swiper-button-next {right:140px;}

/* 3. main-about us */
main .about {
    height:720px; background-color:#F5F7FA;
}

/* 4. main-emotion package */
main .package {
    overflow:hidden;
}

/* 5. main-contents slogan */
/* 5. main-emotion contents */
/* main .main_ct {
    overflow:hidden;
    display:flex; align-items:center; flex-direction:column;
}
main .main_ct > p {margin-bottom:160px;}
main .main_ct .card {
    width: 100%;
    flex-direction:column;
    display:flex; align-items:center; justify-content:center;
}
main .main_ct .card img {height:600px;} */
/* main .main_ct .card img:nth-child(2) {
    transform:translateY(-800px);
} */


.main_ct {
    height: 1600px; /* 실제 카드 2개가 위로 올라올 공간 확보 */
    background: #F5F7FA;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card {
    position: relative;
    width: 100%;
    height: 800px;
    margin-top:90px;
}

.card-img {
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 800px;
    object-fit: contain;
}

.card-img:nth-child(1) {
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.15));
}

/* 초기 Y 위치만 별도로 지정 */
.card-img:nth-child(2) {
    top: 800px;
}