/* 2420 * 1200px로 웹 크기 설정해놓고 작업하기 */
main {margin:0 auto;}
/* main section 공통 디자인 */
main .section {
    height:100vh;
    padding:0 140px;
}
main .section .txt h1 {
    margin:100px 0 24px;
    font-family: 'PPMonumentNarrow', sans-serif;
    font-weight:200; font-size:5rem;
    letter-spacing:-0.01em; line-height:1.2;
    color:#2B2B2B;
}
main .section .txt p {
    font-weight:500; font-size:1.13rem;
    text-align:center; letter-spacing:-0.03em; line-height:1.6;
    margin-bottom:90px;
}

/* -------- 1. main-intro -------- */
main .intro {
    position: relative;
    overflow: hidden;
}
main .intro .bg {
    position: absolute;
    bottom:-400px;
    left:-400px;
    width: 800px;
    height: 800px;
    filter:blur(50px);
    border-radius:50%;
    background: radial-gradient(
        circle,rgba(92, 191, 255, 1) 0%,rgba(92, 191, 255, 1) 50%, rgba(92, 191, 255, 0) 80%
    );
    transform:scale(1) rotate(0deg);
    opacity:0;
    animation: bgExpand 1.8s ease-in-out forwards;
}
/* slogan */
main .intro .slogan {
    position:relative;
    z-index:1;
    width:fit-content;
    margin:0 auto;
    top:20%;
}
main .intro .slogan .slogan_txt {
    font-family: "PP Monument Narrow";
    font-size: 11rem;
    font-weight:800;
    text-align:center;
    color:#fff;
    line-height: 1.2;
    white-space: pre;
}
main .intro .slogan img {
    position: absolute;
    top:0;
    width: 180px;
    height: auto;
    transition: transform 0.3s ease;
    cursor:pointer;
}
main .intro .slogan img:nth-child(2):hover {
    animation: shakeRotate 0.6s infinite;
}
main .intro .slogan img:last-child:hover {
    animation: bounceRotate 1.5s infinite;
}
main .intro .slogan img:nth-of-type(1) {
    left:65%;
}
main .intro .slogan img:nth-of-type(2) {
    top:50%;
    left:15%;
    transform: rotate(-60deg);
}

/* txt */
main .intro .txt_wrap {
    z-index:1;
    list-style:none;
    margin:20% auto 0;
    max-width:100%;
    display:flex;
    justify-content:space-between;
    color:#fff;
    font-size: 1.1rem;
    line-height: 1.6;
}
main .intro .txt_wrap .txt {
    z-index:1;
    opacity: 1; max-width: calc((100% - 100px) / 3);
    width:0;
    padding:20px 0;
    border-top: 1px solid white;
    animation: expandWidth 1s ease 1.5s forwards;
}
main .intro .txt_wrap .txt span {
    display:inline-block;
    opacity:0;
    transform:translateY(-20px);
    text-align:left; font-weight:500; line-height:1.6;
    font-size:1.25rem;
}
.txt_1 > span {
    animation:fadeInUp 1s ease 2.5s forwards;
}
.txt_2 > span {
    animation:fadeInUp 1s ease 3s forwards;
}
.txt_3 > span {
    animation:fadeInUp 1s ease 3.5s forwards;
}

/* mouse 스크롤다운 아이콘 디자인 */
main .intro .mouse_wrap {
    height:max-content; position:absolute;
    left:0; bottom:80px; width:100vw;
    display:flex; flex-flow:column nowrap; justify-content:center;
    align-items:center; opacity:0.9;
}
main .intro .mouse_wrap .mouse {
    width:30px; height:42px; border:2px solid #fff; border-radius:15px; display:flex; justify-content:center;
}
main .intro .mouse_wrap .mouse .wheel {
    width:2px; height:8px; background-color:#fff; border-radius:20px; margin-top:10px;
    animation:up_down 2.5s ease-out both infinite;
}
main .intro .mouse_wrap div:last-child {
    display:flex; flex-flow:column nowrap;
    justify-content:center; align-items:center; margin-top:10px;
    animation:up_down 2.5s ease-out both infinite;
}
main .intro .mouse_wrap div > span {
    background-image:url(../images/mouse_arrow.svg);
    width:16px; height:8px; display:inline-block; background-repeat:no-repeat;
    margin-bottom:3px;
}
/* e:mouse 스크롤다운 */


/* -------- 2. main-what is -------- */
main .whatis {position:relative; overflow:hidden;}
main .whatis .txt {text-align:center;}
main .whatis > .txt p {margin-bottom:50px;}
/* what is-원형배경 */
main .whatis #app_bg {
    text-align:center; height:100vh; position:absolute; width:100vw;
    left:0; bottom:-100px; transform:scale(1.2); z-index:-100;
}
main .whatis #app_bg .eclipse {position:relative; top:40%; width:100%;}
main .whatis #app_bg .eclipse > img {width:100%;}

.pill-slide, .pill-slide .swiper-wrapper {height:400px; overflow:visible;}
.pill-slide .swiper-slide {
    transition: all 0.5s ease;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.pill-slide .swiper-slide img {
    transition: all 0.5s ease;
}
.pill-slide .swiper-slide img {
    width: 200px;
    height: 200px;
    opacity: 0.7;
    transform: translateY(70px);
    transition: all 0.5s ease;
}
.pill-slide .swiper-slide-active img {
    width: 350px;
    height: 350px;
    opacity: 1;
    transform: translateY(0);
}
main .whatis .swiper-pagination {bottom:80px;}

main .whatis .pill_txt {
    text-align:center; color:#919191; z-index:500;
    margin-top:30px;
}
main .whatis .pill_txt .pillName {
    font-family: "PP Monument Narrow";
    font-size:3rem; font-weight:700;
}
main .whatis .pill_txt .pillNameKor {
    font-size:1.125rem; margin:10px 0 20px;
}
main .whatis .pill_txt .pill_desc {
    font-size:1.5rem; line-height:1.6;
}

main .whatis .pill_pagination {position:absolute; left:0; right:0; bottom:550px;}
main .whatis .pill_pagination .swiper-button-prev {
    background-image:url(/images/swiper_arrow.png);
    background-size:100%; transform:rotate(180deg);
    background-repeat:no-repeat;
    background-position:center;
    width:70px; height:70px;
    color:transparent; filter:drop-shadow(0px -3px 4px rgba(0, 0, 0, 0.25));
    left:140px; transition:background-size 0.3s ease;
}
main .whatis .pill_pagination .swiper-button-next {
    background-image:url(/images/swiper_arrow.png);
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    width:70px; height:70px;
    color:transparent; filter:drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    right:140px; transition:background-size 0.3s ease;
}
main .whatis .pill_pagination .swiper-button-prev:hover {
    background-size:110%;
}
main .whatis .pill_pagination .swiper-button-next:hover {
    background-size:110%;
}

/* -------- 3. main-about -------- */
main .about {
    height:max-content; background-color:#F5F7FA;
    display:flex; align-items:flex-start;
    padding-top:100px; padding-bottom:160px;
}
main .about h1 {
    font-family: "PP Monument Narrow";
    text-align:left; font-size:2.5rem;
    padding:10px 0;
}
main .about .line {
    width:200px; height:1px;
    background-color:#ABBED1;
    margin:30px 30px; text-align:left;
}
main .about .txtbtn {
    display:flex; flex-direction:column;
}
main .about .txtbtn h2 {
    height:max-content;
}
main .about .txtbtn h2 > img {height:50px;}
main .about .txtbtn > span {
    font-family: "PP Monument Narrow";
    font-size:2.25rem; line-height:1.6;
    color:#5CBFFF; padding:20px 0 60px;
}
main .about .txtbtn p {
    text-align:left; font-weight:400;
    font-size:1.125rem; line-height:1.6;
}
main .about .txtbtn p strong {font-weight:600;}
main .about .txtbtn .aboutBtn {
    display:flex; align-items:center;
    padding:16px 24px; background-color:#CEECFF;
    border-radius:30px; width:max-content;
    margin-top:40px;
    transition:all 0.3s ease;
}
main .about .txtbtn .aboutBtn > span {
    font-family: "PP Monument Narrow";
    font-size:1.5rem; margin-right:12px;
    color:#5CBFFF;
    transition:all 0.3s ease;
}
main .about .txtbtn .aboutBtn:hover > span {
    margin-right:17px;
}

/* -------- 4. main-emotion package -------- */
main .package {
    overflow:hidden;
    display:flex; justify-content:space-between;
}
main .package .left {
    height:100%;
    display:flex; flex-direction:column;
    justify-content:space-between;
    padding:100px 0 90px;
}
main .package .left .txt {}
main .package .left > .txt h1 {margin-top:50px;}
main .package > .left .txt > p {text-align:left;}
main .package .left .package_txt {width:650px;}
main .package .left .package_txt li {padding:10px 0;}
main .package .left .package_txt li .package_name {
    display:flex; align-items:center;
}
main .package .left .package_txt li .package_name h3 {
    font-size:1.25rem; font-weight:700;
    color:#717171; margin-left:10px;
}
main .package .left .package_txt li > p {
    color:#89939E; font-size:1.125rem;
    font-weight:500; line-height:1.6; padding:16px 0;
}
main .package .left .package_txt li:nth-child(2) {
    border-top:1px solid #ABBED1;
    border-bottom:1px solid #ABBED1;
}

/* 오른쪽 패키지 슬라이드 */
main .package .right {display:flex;}
main .package .right .package_area:first-child {margin-right:36px;}
main .package .right .package_area .package_wrap {
    display:flex; flex-direction:column;
    animation: scrollUp 30s linear infinite;
}
main .package .right .package_area:last-child .package_wrap {
    animation: scrollDown 30s linear infinite;
}
main .package .right .package_area .package_wrap .package_card {
    margin-bottom:20px;
}
main .package .right .package_area .package_wrap .package_card:last-child {
    margin-bottom:0;
}

/* 패키지 카드 디자인 */
.package_card {
    width:400px; height:550px;
    border-radius:50px; border:3px solid rgba(255, 209, 96, 0.3); overflow:hidden;
    padding:42px 50px; position:relative;
}
.package_card:nth-child(2) {border-color:#FFC3CF;}
.package_card:nth-child(3) {border-color:#B8D3FF;}
.package_card:nth-child(4) {border-color:#FEC6EB;}
.package_card:nth-child(5) {border-color:#CDC4E7;}
.package_card:nth-child(6) {border-color:#CCDFAF;}
.package_card:nth-child(7) {border-color:#C7B6F2;}
.package_card:nth-child(8) {border-color:#B0C3CA;}
.package_card:nth-child(9) {border-color:rgba(255, 209, 96, 0.3);}
.package_card:nth-child(10) {border-color:#FFC3CF;}
.package_card:nth-child(11) {border-color:#B8D3FF;}
.package_card:nth-child(12) {border-color:#FEC6EB;}
.package_card:nth-child(13) {border-color:#CDC4E7;}
.package_card:nth-child(14) {border-color:#CCDFAF;}
.package_card:nth-child(15) {border-color:#C7B6F2;}
.package_card:nth-child(16) {border-color:#B0C3CA;}
.package_card .pill_wrap {
    position:absolute; left:0; top:0;
    width:100%; height:100%; border-radius:50px;
}
.package_card .pill_wrap > img {
}


.package_card .txt_wrap {
    text-align:left; position:relative; z-index:5;
}
.package_card .txt_wrap h3 {
    font-family: "PP Monument Narrow";
    font-size:3rem; color:#2b2b2b;
}
.package_card .txt_wrap p {
    font-size:1.25rem; letter-spacing:-0.03em;
    font-weight:500; margin-top:10px; color:#2b2b2b;
}
.package_card .txt_hover {
    display:none;
}

/* -------- 5. main-slogan contents -------- */
main .contentsSlogan {
    height:max-content; position:relative;
    margin-top:200px; margin-bottom:90px;
}
main .contentsSlogan .slogan_area {text-align:center;}
main .contentsSlogan .slogan_area > p {
    font-family: "PP Monument Narrow";
    font-size:6.25rem; line-height:1.4;
    letter-spacing:-0.03em; width:100%;
}
main .contentsSlogan .slogan_area .contents_wrap {}
/* 슬로건 내 타원 이미지 */
main .contentsSlogan .slogan_area .contents_wrap > img {
    position:absolute; left:0; top:0;
}
main .contentsSlogan .slogan_area .contents_wrap > img:first-child {left:28%; rotate:-6deg;}
main .contentsSlogan .slogan_area .contents_wrap > img:nth-child(2) {left:43%; top:21%; rotate:3deg;}
main .contentsSlogan .slogan_area .contents_wrap > img:nth-child(3) {left:10%; top:38%; rotate:0deg;}
main .contentsSlogan .slogan_area .contents_wrap > img:nth-child(4) {left:20%; top:58%; rotate:-10deg;}
main .contentsSlogan .slogan_desc > p {
    text-align:center; font-size:1.125rem;
    line-height:1.6; letter-spacing:-0.003em;
    margin-top:120px; font-weight:400;
}

/* -------- 6. main-card contents -------- */
main .main_card {
    background: #F5F7FA;
    overflow: hidden;
    height:1260px;
    position:relative;
}

main .main_card > p {
    text-align:center; line-height:0.8;
    font-family: "PP Monument Narrow";
    font-size:25rem; letter-spacing:-0.05em;
    text-transform: uppercase;
    position:absolute;
    left:50%; top:20%;
    transform:translate(-50%, -20%);
    z-index:1;
}

main .main_card .card_wrap {
    position:relative; z-index:5;
    display:flex; justify-content:center;
    margin-top:300px;
}

main .main_card .card_wrap .card_img {
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.15));
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.5s ease;
}
main .main_card .card_wrap .card_img:nth-child(1) {
    transform:translateX(90px) translateY(1000px);
}
main .main_card .card_wrap .card_img:nth-child(2) {
    position:relative; z-index:10;
    transform:translateY(1000px);
}
main .main_card .card_wrap .card_img:nth-child(3) {
    transform:translateX(-90px) translateY(1000px);
}
/* active 활성화 */
main .main_card .card_wrap .card_img.active:nth-child(1) {
    transform:translateX(90px) translateY(100px);
}
main .main_card .card_wrap .card_img.active:nth-child(2) {
    transform:translateY(0);
}
main .main_card .card_wrap .card_img.active:nth-child(3) {
    transform:translateX(-90px) translateY(100px);
}


/* -------- 7. main-rx archive -------- */
main .rx_archive {
    height:max-content;
    padding-top:90px; padding-bottom:90px;
}
main .rx_archive .archive_table {
    width:100%; height:100%;
}
main .rx_archive .archive_table .text_wrap {
    display:flex;
    height:120px;
}
main .rx_archive .archive_table .text_wrap > h2 {
    font-family: "PP Monument Narrow";
    font-size:5rem; line-height:120px;
    letter-spacing:-0.01em;
    color:#fff; background-color:#4D4D4D;
    padding-left:30px;
    width:35%; border:1px solid #2B2B2B;
}
main .rx_archive .archive_table .text_wrap > p {
    font-size:1.125rem; color:#717171;
    line-height:1.6; width:65%;
    padding-left:30px; text-align:left;
    display:flex; align-items:center;
    background-color:#F0F9FF;
    border:1px solid #2B2B2B; height:100%;
}
main .rx_archive .archive_table .rader_pick {
    display:flex; width:100%; height:800px;
}
main .rx_archive .archive_table .rader_pick .rader_wrap {
    position:relative; height:100%; width:35%;
    border:1px solid #2B2B2B;
}
main .rx_archive .archive_table .rader_pick .rader_wrap > img {
    position:absolute; left:50%; top:50%;
    width:90%; transform:translate(-50%, -50%);
    opacity: 0; /* display:none 대신 opacity 사용 */
    transition: opacity 0.6s ease; /* 부드러운 전환 효과 */
}
main .rx_archive .archive_table .rader_pick .rader_wrap > img:first-child {opacity: 1;}
main .rx_archive .archive_table .rader_pick .situation_list {
    width:65%; height:100%; border:1px solid #2B2B2B;
}
/* 상황 4가지 리스트 디자인 */
main .rx_archive .archive_table .rader_pick .situation_list .situation_card {
    position:relative; display:flex; align-items:flex-start;
    justify-content:space-between;
    width:100%; height:calc(100% /4);
    border:1px solid #2B2B2B; border-left:0;
    padding:25px 36px;
}
main .rx_archive .archive_table .rader_pick .situation_list .situation_card .left_txt h3 {
    font-family: 'Pretendard Variable', sans-serif;
    font-variation-settings: "wght" 300;
    transition: font-variation-settings 0.5s ease-out;
    font-size:2.25rem;
    line-height:1.6;
    transition:all 0.5s ease-out;
}
main .rx_archive .archive_table .rader_pick .situation_list .situation_card .left_txt p:nth-child(2) {
    font-family: 'Pretendard Variable', sans-serif;
    font-variation-settings: "wght" 300;
    transition: font-variation-settings 0.5s ease-out;
    font-size:1.125rem;
    padding:6px 0 30px;
    transition:all 0.5s ease-out;
}
main .rx_archive .archive_table .rader_pick .situation_list .situation_card .left_txt .situ_hover {
    line-height:1.6; letter-spacing:-0.003em;
    transition:all 0.5s ease-out; opacity:0;
}
main .rx_archive .archive_table .rader_pick .situation_list .situation_card .right_icn > img {padding-top:10px;}
main .rx_archive .archive_table .rader_pick .situation_list .situation_card .line_hover {
    position:absolute; left:0; bottom:0;
    height:2px; width:0; background-color:#2b2b2b;
    transition:all 0.5s ease-out;
}
/* hover 시 애니메이션 */
main .rx_archive .archive_table .rader_pick .situation_list .situation_card:hover .line_hover {width:100%;}
main .rx_archive .archive_table .rader_pick .situation_list .situation_card:hover .left_txt h3 {font-variation-settings: "wght" 500;}
main .rx_archive .archive_table .rader_pick .situation_list .situation_card:hover .left_txt p:nth-child(2) {font-variation-settings: "wght" 400;}
main .rx_archive .archive_table .rader_pick .situation_list .situation_card:hover .left_txt .situ_hover {opacity:1;}

/* -------- 8. main-diag_bn -------- */
main .diag_banner {
    height:100%;
    padding:150px 140px; display:flex; flex-direction:column;
    justify-content:center; align-items:center;
}
main .diag_banner > .text_wrap {text-align:center;}
main .diag_banner > .text_wrap h2 {
    font-family: "PP Monument Narrow";
    font-size:5rem; line-height:120px;
    letter-spacing:-0.01em;
}
main .diag_banner > .text_wrap > p {
    font-size:1.125rem; font-weight:400;
    line-height:1.6; letter-spacing:-0.003em;
    margin-top:24px; margin-bottom:90px;
}
main .diag_banner .diag_btn {
    padding:18px 26px; display:flex;
    width:max-content; border-radius:30px;
    align-items:center; justify-content:space-between;
    background-color:#CEECFF;
}
main .diag_banner .diag_btn > span {
    font-size:1.5rem; font-weight:400;
    color:#5CBFFF; margin-right:12px;
    transition:all 0.3s ease;
}
main .diag_banner .diag_btn:hover > span {
    margin-right:17px;
}

/* -------- 8. main-diag_bn -------- */
main .more {
    overflow:hidden; position:relative;
    background:linear-gradient(to bottom, #fcfcfc, #f3f3f6);
}
main .more .more_link {position:absolute; width:max-content; display:block; left:0; top:0;}
main .more .more_link > img {z-index:1;}
main .more .more_link > .span_wrap {
    position:absolute; display:flex; flex-direction:column;
    align-items:flex-start;
}
main .more .more_link > .span_wrap span {
    width:auto;
    z-index:5; line-height:1.4;
    font-size:4rem; font-weight:600;
}
main .more .more_link .span_wrap span:last-child {
    font-size:1.15rem; font-weight:400;
}
main .more .more_link:first-child {
    left:-57%; top:28%;
    transition:top 0.5s ease-out;
}
main .more .more_link:last-child {
    left:53%; top:-125%;
    transition:top 0.5s ease-out;
}
main .more .more_link:first-child:hover {
    top:25%;
}
main .more .more_link:last-child:hover {
    top:-122%;
}
main .more .more_link:first-child > .span_wrap {
    left:72%; top:16%;
}
main .more .more_link:last-child > .span_wrap {
    left:13%; top:78%;
}